<%- include("partials/header") -%>
    <h1>Compose</h1>

    <form class="new-post" action="/compose" method="post">
        <div class="form-group"></div>
        <label for="blogTitle">Title</label>
        <input type="text" class="form-control" name="blogTitle" placeholder="Blog Title">
        <label for="blogText">Post</label>
        <textarea class="form-control" name="blogText" rows="4" placeholder="Compose post"></textarea>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
    </div>
    <%- include("partials/footer") -%>